{% extends 'core/base.html.twig' %}

{% block content %}
	<div class="body">
		<div class="container row mx-auto w-25 panel p-3 m-5">
			{% if notification %}
				<div class="alert {{ notification.color }}">{{ notification.content }}</div>
			{% endif %}
			<form action="{{ path('route_login') }}" method="post">
				<h1 class="title-site">Login</h1>
				<div class="form-outline mb-4">
					<label class="form-label" for="username">Email address:</label>
					<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">
				</div>

				<div class="form-outline mb-4">
					<label class="form-label" for="password">Password:</label>
					<input class="form-control" type="password" id="password" name="_password">
				</div>

				{# If you want to control the URL the user is redirected to on success #}
				<input type="hidden" name="_target_path" value="{{ path('route_profil') }}">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="d-flex justify-content-center">
					<button class="btnSite btn" type="submit">Log-in</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/login.css') }}">
	<link rel="stylesheet" href="{{ asset('styles/base.css') }}">
{% endblock %}
