{% extends 'core/base.html.twig' %}

{% block title %}
	Dark Rosted Coffee
{% endblock %}

{% block content %}
	<div class="row my-md-4 mx-xxl-5 page">
		<div class="col-10 mx-auto">
			{% for flash in app.flashes('order') %}
				<div class="alert {{ flash.color }} notification">{{ flash.content | raw }}</div>
			{% endfor %}
			<h3 class="title-site">Here are your orders</h3>
			{% if orders | length == 0 %}
				<h5>You have no orders to this date</h5>
			{% endif %}
			<table class="table text-center table-bordered">
				<thead class="table-dark">
					<tr>
						<th scope="col"># Order</th>
						<th scope="col">Date</th>
						<th scope="col">Total price</th>
						<th scope="col">Status</th>
						<th scope="col">Details</th>
					</tr>
				</thead>
				<tbody class="table-body">
					{% for order in orders %}
						<tr>
							<td>{{ order.idOrder }}</td>
							<td>{{ order.orderDate | date("m/d/Y H:i", "America/Toronto") }}</td>
							<td>{{ order.getTotalPrice() }}</td>
							<td>{{ order.state }}</td>
							{% if is_granted("ROLE_ADMIN") %}
								<td>
									<a href="{{ path('route_adminUpdateOrders', {idOrder: order.idOrder})}}">
										<i class="fas fa-eye"></i>
									</a>
								</td>
							{% else %}
								<td>
									<a href="{{ path('route_orderDetails', {idOrder: order.idOrder})}}">
										<i class="fas fa-eye"></i>
									</a>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/orderReview.css') }}">
	<link rel="stylesheet" href="{{ asset('styles/base.css') }}">
{% endblock %}
